.encabezadoPagina {
  height: 200px;
  width: 100%;
  background-color: #010411;
  position: static;
  top: 0%;
  z-index: 2;
}
.menuPagina {
  height: 80px;
  width: 100%;

  background-color: #010613;
  position: static;
  top: 200px;
  z-index: 2;
}

.cuerpoPagina {
  max-height: 400px;
  overflow: scroll;
  width: 100%;

  position: static;

  z-index: 0;
}
.cuerpoPagina::-webkit-scrollbar {
  display: none;
}

.piePagina {
  height: 80px;
  width: 100%;
  background-color: #6983da6b;
  position: static;
}
